In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('Retail Product Recommender.csv')

In [6]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406829 entries, 0 to 406828
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 21.7+ MB

In [9]:
df.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 08:26,2.55,17850
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 08:26,3.39,17850
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 08:26,2.75,17850
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 08:26,3.39,17850
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010 08:26,3.39,17850
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,01/12/2010 08:26,7.65,17850
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,01/12/2010 08:26,4.25,17850
7,536366,22633,HAND WARMER UNION JACK,6,01/12/2010 08:28,1.85,17850
8,536366,22632,HAND WARMER RED POLKA DOT,6,01/12/2010 08:28,1.85,17850
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,01/12/2010 08:34,1.69,13047
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,01/12/2010 08:34,2.10,13047
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,01/12/2010 08:34,2.10,13047
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,01/12/2010 08:34,3.75,13047
13,536367,22310,IVORY KNITTED MUG COSY,6,01/12/2010 08:34,1.65,13047
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,01/12/2010 08:34,4.25,13047

In [12]:
df1 = df.groupby("CustomerID")

In [13]:
df1.mean()

             Quantity  UnitPrice
CustomerID
12346        0.000000   1.040000
12347       13.505495   2.644011
12348       75.516129   5.764839
12349        8.643836   8.289041
12350       11.588235   3.841176
...               ...        ...
18280        4.500000   4.765000
18281        7.714286   5.622857
18282        7.538462   4.821538
18283        1.847884   1.614987
18287       22.657143   1.493571

[4372 rows x 2 columns]